<div class="row">
    <div class="col right">
        <button class="new-rule" onclick="S.domain.download.add.show()">New Rule</button>
    </div>
    <div class="col text"><h5>Download Rules</h5></div>
</div>
<div class="row download-rules pad-top">
    {{rules}}
</div>

<script type="text/html" id="temp_new_downloadrule">
    <form onsubmit="S.domain.download.add.submit(); return false">
        <div class="messages"></div>
        <div class="row pad-height note">
            <p>
                Use regular expressions to match on the web page URL, title, or summary 
                when downloading web pages via the Download section. All matches will
                be used to determine if a web page should NOT be kept as an article and
                instead used only to collect URL links from instead.
            </p>
        </div>
        <div class="row hover">
            <div class="col field long">URL Match</div>
            <div class="col input"><input id="download_url" /></div>
        </div>
        <div class="row hover">
            <div class="col field long">Title Match</div>
            <div class="col input"><input id="download_title" /></div>
        </div>
        <div class="row hover">
            <div class="col field long">Summary Match</div>
            <div class="col input"><input id="download_summary" /></div>
        </div>
        <div class="row buttons pad-top">
            <div class="col right">
                <button type="submit" class="apply">Create Download Rule</button>
            </div>
        </div>
    </form>
</script>