<div class="row">
    <div class="col field">Condition</div>
    <div class="col input">
        <select id="match-condition">
            <option>Homepage must contain</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="col field">Minimum</div>
    <div class="col input">
        <input type="number" max="100" id="match-min" style="width:50px" value="1" /> matches
    </div>
</div>
<div class="row">
    <div class="col field">Words</div>
    <div class="col input">
        <input type="text" id="match-words" /> <span class="note">(comma-delimited)</span>
    </div>
</div>