<div class="row">
    <div class="col right">
        <button class="new-rule" onclick="S.domain.rules.add.show()">New Rule</button>
    </div>
    <div class="col text"><h5>Analyzer Rules</h5></div>
</div>
<div class="row analyzer-rules pad-top">
    {{rules}}
</div>

<script type="text/html" id="temp_new_rule">
    <form onsubmit="S.domain.rules.add.submit(); return false">
        <div class="messages"></div>
        <div class="row hover">
            <div class="col field long">CSS Selector</div>
            <div class="col input"><input id="rule_selector" /></div>
        </div>
        <div class="row hover">
            <div class="col field long">Rule</div>
            <div class="col input">
                <select id="rule_type">
                    <option value="0">Hide matching HTML elements</option>
                    <option value="1">Show matching HTML elements</option>
                </select>
            </div>
        </div>
        <div class="row buttons pad-top">
            <div class="col right">
                <button type="submit" class="apply">Create Analyzer Rule</button>
            </div>
        </div>
    </form>
</script>