.domains .contents{ padding-bottom:20px; 
    &:after{content:''; display:block; clear:both;}
}
.domains-paging{
    ul{list-style:none;}
    li{display:inline-block; padding-left:10px;}
}
.domain-item{float:left; width:33%; padding:10px; border-bottom:1px solid #015e4a; overflow:hidden; height:125px;
    &:hover{background-color:#00383c;}
    .info{ height:36px;
        & > span{display:inline-blocck; padding:0 15px 5px 0;}
        .whitelisted{color:#88ff81 !important; padding:4px; border-radius: 5px; margin:5px 0 0 0; display:inline-block;}
        .paywall{color:#e97b46 !important; padding:4px; border-radius: 5px; margin:5px 0 0 0; display:inline-block;}
        .free{color:#39bbff !important; padding:4px; border-radius: 5px; margin:5px 0 0 0; display:inline-block; text-transform:uppercase;}
        .articles .num{color:#49de00 !important;}
    }
    p.summary{height:40px; text-overflow:ellipsis; overflow:hidden; white-space:normal; opacity:0.7; margin-top:5px;}
    .domain-type{color:#eb86f4 !important;
        &.science{font-weight:bold; color:#fff;}
        &.propaganda{font-weight:bold; color:#cc0000;}
    }
}
.page-menu{
    #search{max-width:500px; width:100%;}
    #searchform{float:left;}
    .subjects-breadcrumb{padding-top:3px;
        span{display:inline-block; background-color:#4ebedd; color:#fff; padding:5px 10px; border-radius:15px; margin-left:10px;}

    }
    .btn-search{padding-top:5px; cursor:pointer;}
}
.search-domain-score{position:relative;
    label{position:absolute; left:10px; top:10px; z-index:5;}
    input{padding-left:60px !important; width:100px !important;}
}

.page-menu{#sort{max-width:130px;}}

.domains-collections.dropmenu{display:none; right:146px; top:-25px; width:auto; padding-bottom:10px;
    svg{width:16px; height:16px;}
    & > .row, .group > .row{padding:10px; cursor:default; white-space:nowrap;}
    .group-title{padding:15px 20px 5px 10px; cursor:default;  white-space:nowrap; margin-right:30px; 
        use{fill:#444; opacity:0.5;}
    }
    .item{padding-left:40px !important;}
    .group{display:none;}
    .group-row.expanded .group{display:block; overflow-x:hidden; overflow-y:auto; max-height:300px;}
}

.filter-blacklist_wildcard{height:55px;}
.page-menu #domaintype{max-width:145px;}
.page-menu #domainfiltertype{max-width:130px;}