.domains .contents{ padding-bottom:20px; 
    &:after{content:''; display:block; clear:both;}
}
.domain-item{float:left; width:33%; padding:10px; margin:0 0 20px 0; border-bottom:1px solid #015e4a;
    &:hover{background-color:#00383c;}
}
.page-menu{
    #search{max-width:500px; width:100%;}
    .subjects-breadcrumb{padding-top:3px;
        span{display:inline-block; background-color:#4ebedd; color:#fff; padding:5px 10px; border-radius:15px; margin-left:10px;}
    }
    .btn-search{padding-top:5px; cursor:pointer;}
}