.listing-item{padding:10px; border-bottom:1px solid #acd1c6;
    &:hover{background-color:#dce9e3;}
    .title{padding-bottom:4px;
        a:link, a:visited{text-decoration:none; color:#333;}
        a:hover, a:active{text-decoration:underline; color:#333;}
    }
    .url{font-size:13px; padding-bottom:7px;}
    .article-title{font-size:20px;}
    .info{width:100%; padding:7px 0; overflow:hidden; font-size:13px;}
    .info > .col{height:16px; padding:0 20px 0 5px; border-left:4px solid #009b75;}
    .info > .col.no-separator{border-left:none;}
    .info .icon svg{width:16px; height:16px;}
    .info .val{color:#ddd;}
    .info .bugs{color:#ffaa34; font-weight:bold; border-radius: 20px; border: 2px solid #90590C; min-width: 19px; padding: 0px; display: inline-block; text-align: center; box-sizing: border-box; margin-bottom: -5px; margin-top: -2px;}
    .info .important{color:#00f7ff; font-weight:bold;}
    .info .domain{
        cursor:pointer;
        &:hover{
            span{text-decoration:underline;}
        }
    }
}
.page-menu{
    #search{max-width:500px; width:100%;}
    .btn-search{padding-top:5px; cursor:pointer;}
}
.subjects-breadcrumb{padding-top:3px;
    span{display:inline-block; background-color:#4ebedd; color:#fff; padding:5px 10px; border-radius:15px; margin-left:10px;}
}
.search-article-score{position:relative;
    label{position:absolute; left:10px; top:10px; z-index:5;}
    input{padding-left:60px !important; width:100px !important;}
}